body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f8f8f8;
  color: #333;
}

header {
  background-color: white;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid #ddd;
  text-align: center;
}

header nav {
  margin-top: 10px;
}

header nav a {
  text-decoration: none;
  color: white;
  background-color: gray; 
  padding: 10px; 
  border-radius: 5px; 
  margin: 5px;
  display: inline-block;
}

header nav a:hover {
  background-color: darkgray; 
  text-decoration: none;
}


#featured-property {
  margin: 20px auto;
  max-width: 900px;
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center; 
}

#featured-property img {
  display: block; 
  margin: 0 auto; 
  width: 100%; 
  height: auto;
  border-bottom: 2px solid #ddd;
}

#featured-property figcaption {
  font-size: 14px; 
  margin: 10px 0;
  color: #555;
  text-align: center; 
}

#featured-property p {
  margin: 20px auto; 
  line-height: 1.6;
  text-align: center;
  width: 800px; 
}


#details {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  background-color: red; 
  color: white;
  padding: 20px;
  margin-top: 20px;
  text-align: center; 
}

#details div {
  background-color: #b30000; 
  flex: 1 1 25%; 
  box-sizing: border-box;
  padding: 10px;
  margin: 5px;
}

#details h3 {
  margin-bottom: 10px;
  font-size: 18px;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

#details p {
  margin: 0;
  line-height: 1.4;
}

#details a {
  color: white;
  text-decoration: none;
}

#details a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  #details {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #details div {
    flex: 1 1 100%; 
  }
}
